---
title: Latest posts
---

<h2>
  Latest:
</h2>
$for(latest)$
<h3>
  <a href=$url$>
    $title$
  </a>
</h3>
$if(teaser)$
<p>
<a href=$url$>
  $teaser$
</a>
</p>
$endif$
$endfor$


<h1>Recent:</h1>
$for(postExerpts)$
$if(quote)$
<h4>
  <a href=$url$>
    $date$ - $title$
  </a>
</h4>
$else$
<h3>
  <a href="$url$">
    $date$ - $title$
  </a>
</h3>
$if(teaser)$
<p>
<a href="$url$">
  $teaser$
</a>
</p>
$endif$
$endif$
$endfor$
