<ul>
    $for(quotes)$
    <li>
        <a href="$url$">$strictDate$ - $title$</a> 
    </li>                                            
    $endfor$                                             
</ul>

