---
title: Projects Suggestions
published: 2015-07-04
last-updated: 2017-11-27
---

<p>
Sadly I don't have nearly enough time to work on all the projects I would like to work on.
I have started writing suggestions for projects so that I might find other people to work with on these projects.
If you would like to work on any of these projects, please contact me and maybe we can work together.
</p>

<ul>
  $for(posts)$
  <li>
    <a href=$url$>$title$</a>: $description$
  </li>
  $endfor$
</ul>
