<h4>about</h4>

<img src="/assets/syd2.jpg" alt="Author" width="150">
<ul>
    <li class="contact">
        <span class="author fn n">
      $Author$
    </span>
    </li>
    <li>
        <a href="/cv.html">CV</a>
    </li>
    <li class="pgp">
        <a href="/key/0xBECF334611DF74C44746BF81F1260E2F09ABC023.txt">PGP</a>
    </li>
    <li class="github"><a href="http://github.com/$github$/" rel="me">github.com/$github$</a></li>
    <li class="rss"><a href="/rss.xml" rel="me">RSS Feed</a></li>
</ul>
