<div class="body">
  <div class="unit-body">
    $partial("templates/banner.html")$
    <div class="unit-inner unit-body-inner">
      <div class="entry-content">
        $body$       
      </div>         
    </div>
    $partial("templates/license.html")$
  </div>
</div>
