<div class="the-footer">
  <div class="unit-foot">
    <div class="unit-inner unit-foot-inner">
      <div class="misc vcard">
        $partial("templates/about.html")$
      </div>
      $partial("templates/ad.html")$
    </div>
  </div>
</div>
