<div class="nav-global">
    <a href="/">
        <img src="$logo$" alt="Logo" height="80">
    </a>
    <ul>
        <li>
            <a href="/services.html"> services </a>
        </li>
        <li>
            <a href="/about.html"> about </a>
        </li>
        <li>
            <a href="/contact.html"> contact </a>
        </li>

        <li>
            <a href="/p2p-mentorship.html"> P2P Mentorship </a>
        </li>

        <li>
            <a href="/bounties.html"> bounties </a>
        </li>

        <li>
            <a href="/projects/index.html"> Project Suggestions </a>
        </li>

        <li>
            <a href="/talks.html"> talks </a>
        </li>

        <li>
            <a href="/notes.html"> notes </a>
        </li>

        <li>
            <a href="/to-not-do.html"> To-not-do </a>
        </li>

        <li>
            <a href="/archive.html"> archive </a>
        </li>

        <li>
            <a href="/quotes.html"> quotes </a>
        </li>

        <li>
            <a href="/categories.html"> categories </a>
        </li>

        <li>
            <a href="/tags.html"> tags </a>
        </li>

        <li>
            <a href="/thesis.html"> thesis </a>
        </li>
    </ul>
</div>
