<div class="unit-article layout-post">
  <div class="unit-inner unit-article-inner">
    <div class="content">

      $partial("templates/title.html")$

      <div class="bd">
        <div class="entry-content">
          <h4>$description$</h4>

          $body$
          <div class="meta">
            Project state: $state$
            <p class="date-publish">
            Published: 
            $date$
            </p>
            <ul class="list-tag list-linear">
              <li class="list-head">
                tags: $tags$
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="unit-foot">
        <div class="unit-inner unit-foot-inner">
            If you would like to see this project becoming a reality, you would like to work on this project yourself, or you have seen some realisation of this project somewhere, please contact me.
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
</div>
