<div class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            $partial("templates/title.html")$
            <div class="bd">
                <div class="entry-content">
                    $body$
                </div>
            </div>
        </div>
    </div>
</div>
