@import "_base.less";
@import "_module.less";
@import "_less-base.less";

/* LESS VARIABLES
--------------------------------------------------------------------------------- */
@main-bg: #ffffff;
@subtle-bg: #515151;
@center-bg: #fafafa;
@main-font-color: #2d2d2d;
@accent-color: #c26164;

/* GLOBAL
--------------------------------------------------------------------------------- */
html {
	color: @main-font-color;
}

#page {
	background: url('@{noise-100-90-5}');
	background-repeat: repeat;
	background-position: 0 0;
	background-color: #e2e2de;
}


/* LINK */
a {
	&:link {
		color: @main-font-color;
		text-decoration: none;
	}
	&:visited {
		color: darken(@main-font-color, 10%);
		text-decoration: none;
	}
	&:hover {
		color: lighten(@main-font-color, 10%);
		text-decoration: none;
	}
}

/* HIGHLIGHTER */
pre { margin-bottom: @line-height / @em; }
pre {
	color: #f2f2f2;
	background-color: @base02;
	border: 1px solid fadein(@base02, 30%); 
	font-family: @font-stack;
	margin-left: 0;
	margin-right: 0;
	padding: @line-height / @em;
	overflow: auto;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* meta */
// Somehow this ensures the three collumns
.meta {}

/* HEADER
--------------------------------------------------------------------------------- */
.the-header {
	.nav-global {
		text-transform: uppercase;
    ul {
      list-style: none;
      padding-left: 1em;
    }
  }
}

/* MAIN
--------------------------------------------------------------------------------- */
.body {
	.unit-body {
		background-color: @center-bg;

    .banner {
      background-color: #C0D890;
      padding: 6px 10px;
      overflow-x: auto;
      font-size: 15px;
      border: 2px solid #ddd;
      border-radius: 5px;
    }

    .unit-article {
      .header {
        border-bottom: 5px solid rgba(21, 25, 25, 0.8);
        margin-bottom: 21px;
        h1 {
          color: @main-font-color;
          margin-top: 0;
          margin-bottom: 0;
        }
        // Title for quotes
        blockquote {
          quote{
            display: inline-block; /* this and width auto make the width fit the size of the text */
          }
          height: auto;
          width: auto;
          margin: 1em;
          padding: 1em;
          background-color: #f9f9f9;
          border: 1px solid #ccc;
          border-radius: 6px;
          box-shadow: 1px 1px 1px #ccc;
          font-style: italic;
          overflow: hidden;
          .quote:before {
            font-size: 2em;
            color: #ccc;
            content: open-quote;
            vertical-align: -0.25em;
          }
          .quote:after {
            font-size: 2em;
            color: #ccc;
            content: close-quote;
            vertical-align: -0.25em;
            float: right;
          }
          .author {
            display: inline-block; /* this and width auto make the width fit the size of the text */
            text-align: right;
            float: right;
          }
        }
      } // .article-inner header

      .entry-content {
        h2, h3, h4, h5, h6 {
          color: @main-font-color;
          a {
            &:link {
              color: @main-font-color;
              border: 0;
            }
            &:visited {
              color: darken(@main-font-color, 10%);
              border: 0;
            }
            &:hover {
              color: lighten(@main-font-color, 10%);
              border: 0;
            }
          }
        }
      } // .article-inner .entry-content

      .entry-content:first-child h2,
      .entry-content:first-child h3,
      .entry-content:first-child h4,
      .entry-content:first-child h5,
      .entry-content:first-child h6 { margin-top: 0; } // Canceling header margin since there is margin on header

      a {
        &:link { border-bottom: 1px dashed @accent-color; }
        &:visited { border-bottom: 1px dashed darken(@accent-color, 10%); }
        &:hover { border-bottom: 1px dashed lighten(@accent-color, 10%); }
      }

      blockquote {
        border-left: 1em solid rgba(21, 25, 25, 0.8);
        padding-left: 1em;
        p {
          margin-left: 0;
          margin-right: 0;
        }
      }

      ul, ol, dl { padding-left: 0; }
      ul { list-style: square; }
      ol { list-style: decimal; }

      li, dt, dd {
        h1, h2, h3, h4, h5, p, ul, ol, dl, blockquote, .hasGrid { margin-left: 0; margin-right: 0; }
      } 

      p code, li code {
        padding: 2px 5px;
        white-space: nowrap;
      }
      
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;

          max-width:100%;
        }

      .date-publish { margin-bottom: 0; }

      .meta {
        border-top: 5px solid rgba(21, 25, 25, 0.8);
        padding-top: @line-height / @em;
        position: relative;
      }
      .unit-foot {
        border-top: 5px solid rgba(21, 25, 25, 0.8);
        padding-top: @line-height / @em;
        position: relative;
      }
    }
  }
}


/* FOOTER
----------------------------------------------- */
.the-footer {
	a {
		&:link {
			color: @accent-color;
			border: 0;
		}
		&:visited {
			color: darken(@accent-color, 10%);
			border: 0;
		}
		&:hover {
			color: lighten(@accent-color, 10%);
			border: 0;
		}
	}
	ul {
		list-style: none;
		padding-left: 1em;
	}
	.address { font-style: normal; }
}

.license {
  border-top: 2px solid rgba(21, 25, 25, 0.8);
  padding-top: 1px;

  .figure {
    img {
      float:left;
      margin-right: 10px;
      margin-top: 10px;
      max-width:100%;
    }
  }
}


/* Spoilers
--------------------------------------------------------------------------------- */
@spoiler-bg: #eee8d5;
@spoiler-fg: @main-font-color;

.spoiler {
  background-color: @spoiler-bg;
  color: @spoiler-bg;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 10px;

  transition-property: color;
  transition-timing-function: ease-in;
  transition-duration: 5s;
  transition-delay: 0s;
}

.spoiler:hover {
  transition-property: color;
  transition-timing-function: ease-in;
  transition-duration: .5s;
  transition-delay: 0s;
  color: @spoiler-fg;
}

@import "_mediaqueries.less";
@import "_syntaxhighlighter.less";
@import "_helper.less";
